body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(images/debut_light.png);
    font-weight: 300;
    text-align: center;
}

h1 {
    font-family: "Fredoka One";
    font-size: 72px;
    font-weight: normal;
    color: #01a379;
    text-shadow: -2px 2px 0 #f0f0f0, 2px 2px 0 #f0f0f0, 0px 3px 0 #30c49a;
    margin: 20px 0;
    opacity: 1.0;
}

h1 a {
    text-decoration: none;
}

h2 {
    margin-top: 40px;
    font-weight: 300;
}

.mini {
    display: none;
}

.masthead {
    display: block;
}

.viewer .mini {
    display: block;
}

.viewer .masthead {
    display: none;
}

.player {
    display: none;
    position: relative;
    margin: 30px;
    cursor: pointer;
}

.video_border {
    position: absolute;
    height: 390px;
    width: 390px;
    top: -20px;
    left: -20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    border: 23px solid #f0f0f0;
}

#status {
    display: none;
    color: #ccc;
    font-size: 20px;
    margin: 20px auto;
    max-width: 600px;
}

#status.success {
    color: #2e8b57;
}

#status.error {
    color: #ca5050;
}

.dismiss {
    display: inline-block;
    border-radius: 10px;
    background: #ccc url(images/close.png) no-repeat 50% 50%;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 0 -3px 5px;
}

.success .dismiss {
    background-color: #01a379;
}

.error .dismiss {
    background-color: #ca5050;
}
.input_row {
    margin: 8px;
}

.advanced label {
    margin-left: 16px;
}

.big_input input[type=text] {
    outline: 0;
    background: #fcfcfc;
    border: 3px solid #01a379;
    border-radius: 9px;
    font-size: 1.4em;
    padding: 7px 10px;
    box-shadow: inset 0 7px 9px rgba(0,0,0,0.15), inset 0 0 2px 1px #fff;
    font-family: Helvetica, Arial;
    color: #333;
    vertical-align: middle;
    margin: 5px 15px;
    width: 400px;
}

.big_input label {
    display: inline-block;
    width: 68px;
    font-size: 1.4em;
    vertical-align: middle;
    text-align: right;
}

.recent {
    display: none;
}

a, a:link {
    color: #01a379;
}

.recent ul {
    list-style: none;
    line-height: 140%;
    font-weight: 400;
    font-size: 15px;
    padding-left: 0;

}

.recent ul li {
    display: inline-block;
    margin: 5px 10px;
}

button {
    background-color: #01a379;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 4px 8px;
}